html {
    background: url(../images/start4.png) no-repeat fixed;
    background-size: cover; 
    background-position: top center;
}

body{
    background: none;
}

body * {    
font-family: 'Khula', sans-serif;
}

/*------------------------ HEADER ------------------------*/

header{
    
}

header img{
    width: 10em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

#principal .btns{
    position: absolute;
    bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#principal .btns button{
    padding: 10px 40px;
    font-size: 1.4em;
    border-radius: 5px;
    color: #fff;
    margin: 0px 10px;
}

#principal #logIn{
    background-color: transparent;
    border: 1px solid #fff;
}

#principal #signUp{
    background: linear-gradient(to right, #7d00bf , #d900bf);
    border: 1px solid #7d00bf;
}

